

.header_name {
    width: 100px;
    object-fit: contain;
    margin: 0 20 px;
    margin: 18px;
    font-size: x-large;
    color: white;
    border-bottom: none;
}


.header_searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}

.header_option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}


.header_optionLineOne {
    font-size: 13px;
    font-weight: 700;
    display: flex;
}

