.home__container{
    background-color: white;
    margin: 100px;
    border-radius: 20px;
}
.restaurant_section {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.rescomp {
    border-radius: 20px;
}

.rescomp:hover {
    background-color: rgb(244, 240, 240);
}