.App {
  text-align: center;
  width: 100%;
  height: 100%;
  background-image: url('./assets/login_back.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.app__top{
  position: fixed;
  top: 0;
  width: 100%;
  
}
.app__center{
  padding-top: 150px;
  width: 100%;
  
}
